@font-face {
    font-family: 'Avenir';
    src: url(./Avenir\ Next\ LT\ Pro.ttf);
}

.page-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-card {
    position: relative;
    display: flex;
    width: 95%;
    max-width: 1200px;
    color: white;
    font-family: 'Avenir';
    font-weight: 550;
}

/* CHART CONTAINER STUFF BELOW */

.chart-container {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    min-width: 360px;
    background: rgb(49, 54, 64);
    line-height: 1.2;
}

.top-text, .bottom-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.section-title {
    font-size: 2.5rem;
    align-self: center;
}

.assessor, .result, .next-step, .out-of {
    font-size: 1.5rem;
}

.assessor, .out-of {
    opacity: .65;
}

.average-score {
    font-size: 7.5rem;
    font-weight: bold;
    color: rgb(204, 204, 22)
}

.graph-container {
    display: grid;
    grid-template-columns: 1;
    width: 85%;
    min-width: calc(360px * .8);
    margin: 1.5rem;
}

.graph-left {
    place-self: center;
    position: relative;
    left: -2px;
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 100%;
    width: 90%;
    aspect-ratio: 1;
    background: conic-gradient(rgba(0, 0, 0, 0) 46%, rgb(68, 75, 90) 0);
}

.graph-right {
    place-self: center;
    position: relative;
    left: 2px;
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 100%;
    width: 90%;
    aspect-ratio: 1;
    background: conic-gradient(rgb(204, 204, 22) 46%, rgba(0, 0, 0, 0) 0);
}

.graph-scores {
    place-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: rgb(49, 54, 64);
    border-radius: 100%;
    aspect-ratio: 1;
    width: calc(90% * .775);
}

/* SCORECARD CONTAINER STUFF BELOW */

.scorecard-container {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    background: rgb(68, 75, 90);
    line-height: 1.2;
}

.prompts-container {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
}

.line-container {
    margin: .75rem 0;
    display: flex;
    align-items: center;
    font-size: 1.25rem;;
}

.score-circle {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right: 1rem;
    line-height: 1 !important;
}

.prompt-section {
    font-size: 1.5rem;;
}

.one {
    background: rgb(255, 64, 76)
}

.two {
    background: rgb(255, 201, 0);
}

.three {
    background: rgb(90, 215, 0);
}

.four {

}

.five {
    background: rgb(0, 230, 233);
}

/* ANIMATION STUFF BELOW */

/* @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:46;
    --b:calc(.125 * var(--w));
    --c:rgb(206, 203, 22);
    --w:250px;
    
    width:var(--w);
    aspect-ratio: 1;
    position:relative;
    display:flex;
    flex-direction: column;
    margin:5px;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }

  .pie::before, .pie::after {
    content:"";
    position:absolute;
    border-radius:50%;
  }

  .pie::before {
    inset:0;
    background:
      conic-gradient(var(--c) calc(var(--p)*1%),rgb(83, 94, 110) 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }

  .pie::after {
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }

  .animate {
    animation:p 1s .5s both;
  }

  @keyframes p {
    from{--p:0}
  } */