@font-face {
    font-family: 'Avenir';
    src: url(./Avenir\ Next\ LT\ Pro.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* INPUT FORM STUFF BELOW */

.input-form {
    font-family: 'Avenir';
    display: flex;
    justify-content: center;
    width: 80vw;
    color: rgb(225, 225, 225);
    background: rgb(49, 54, 64);
    box-shadow: 0px 0px 100px 0px rgb(15, 15, 15);

}

.feedback-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scale {
    align-self: center;
    margin-bottom: 1rem;
}

.feedback-container > .section-title {
    margin-top: 1rem;
}

.input-container {
    margin-bottom: 1.25rem;
}

.prompt-radio-container {
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.input-prompt {
    border-radius: 0%;
    border: none;
    height: 2.5rem;
    width: 80%;
    font-size: 1.5rem;
    text-indent: .5rem;
    color: rgba(225, 225, 225, .75);
    background-color: rgb(68, 75, 90);
    box-shadow: inset 1px 1px 5px rgb(15, 15, 15);
}

input::placeholder {
    left: 1rem;
    color: rgba(225, 225, 225, .5);
}

input:focus {
    color: rgb(225, 225, 225);
    outline: none !important;
    border: 1px solid rgb(225, 225, 225);
}

.radio-row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.radio-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.25rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid rgb(15, 15, 15);
    box-shadow: inset 0px 0px 5px rgb(15, 15, 15);
    background-color: rgb(68, 75, 90);
}

.rb-1:active {
    border: 2px solid rgb(255, 64, 76);
    box-shadow: inset 0px 0px 5px rgb(255, 64, 76),
                inset 0px 0px 10px rgb(255, 64, 76);
}

.rb-2:active {
    border: 2px solid rgb(255, 201, 0);
    box-shadow: inset 0px 0px 5px rgb(255, 201, 0),
                inset 0px 0px 10px rgb(255, 201, 0);
}

.rb-3:active {
    border: 2px solid rgb(90, 215, 0);
    box-shadow: inset 0px 0px 5px rgb(90, 215, 0),
                inset 0px 0px 10px rgb(90, 215, 0);
}

.rb-4:active {
    border: 2px solid rgb(166, 0, 243);
    box-shadow: inset 0px 0px 5px rgb(166, 0, 243),
                inset 0px 0px 10px rgb(166, 0, 243);
}

.rb-5:active {
    border: 2px solid rgb(0, 230, 233);
    box-shadow: inset 0px 0px 5px rgb(0, 230, 233),
                inset 0px 0px 10px rgb(0, 230, 233);
}

button {
    align-self: center;
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
    margin: 1rem;
}

/* REPORT CARD STUFF BELOW */

.report-card {
    position: relative;
    display: none;
    width: 1200px;
    color: white;
    font-family: 'Avenir';
    box-shadow: 0px 0px 100px 0px rgb(15, 15, 15);
}

/* CHART CONTAINER STUFF BELOW */

.chart-container {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    min-width: 360px;
    background: rgb(49, 54, 64);
    line-height: 1.2;
}

.top-text, .bottom-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.section-title {
    font-size: 3rem;
    text-align: center;
}

.assessor, .result, .next-step, .out-of {
    font-size: 1.5rem;
}

.assessor, .out-of {
    opacity: .65;
}

.average-score {
    font-size: clamp(6rem, 9.5vw, 7.5rem);
    font-weight: bold;
    color: rgb(204, 204, 22)
}

.graph-container {
    display: grid;
    grid-template-columns: 1;
    width: 85%;
    min-width: calc(360px * .8);
    margin: 1.5rem;
}

.graph-left, .graph-right, .graph-scores {
    place-self: center;
    position: relative;
    border-radius: 100%;
    aspect-ratio: 1;
    grid-row-start: 1;
    grid-column-start: 1;
}

.graph-left {
    left: -2px;
    width: 90%;
    background: conic-gradient(rgba(0, 0, 0, 0) 46%, rgb(68, 75, 90) 0);
}

.graph-right {
    left: 2px;
    width: 90%;
    background: conic-gradient(rgb(204, 204, 22) 46%, rgba(0, 0, 0, 0) 0);
}

.graph-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 54, 64);
    width: calc(90% * .775);
}

/* SCORECARD CONTAINER STUFF BELOW */

.scorecard-container {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background: rgb(68, 75, 90);
    line-height: 1.2;
}

.prompts-container {
    width: 90%;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
}

.line-container {
    margin: .75rem 0;
    display: flex;
    align-items: center;
    font-size: 1.25rem;;
}

.score-circle {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right: 1rem;
    line-height: 1 !important;
}

.prompt-section {
    font-size: 1.5rem;
}

.one {
    background: rgb(255, 64, 76)
}

.two {
    background: rgb(255, 201, 0);
}

.three {
    background: rgb(90, 215, 0);
}

.four {
    background: rgb(166, 0, 243);
}

.five {
    background: rgb(0, 230, 233);
}

@media screen and (max-width: 800px) and (max-height: 400px) {
    
    body::-webkit-scrollbar {
        display: none;
    }
    
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .report-card {
        width: 100vw;
        height: 100vh;
    }

    .page-container {
        width: 100%;
        height: 360px;
    }

    .prompts-container {
        padding: 0px;
    }

    .chart-container, .scorecard-container {
        padding-top: .5rem;
    }

    .scorecard-container {
        overflow-y: scroll;
    }

    .section-title {
        font-size: 2rem;
    }

    .assessor, .result, .next-step, .out-of {
        font-size: 1.25rem;
    }

    .score-circle {
        font-size: 1.25rem;
        width: 1.5rem;
        min-width: 1.5rem;
    }
    
    .prompt-section {
        font-size: 1.25rem;
    }

    .line-container {
        font-size: 1rem;;
    }

    .graph-container {
        margin: 1rem;
    }

    .graph-left {
        width: 65%;
    }
    
    .graph-right {
        width: 65%;
    }

    .graph-scores {
        width: calc(65% * .775);
    }

    .average-score {
        font-size: clamp(4.5rem, 6.5vw, 6rem);
    }

}

@media screen and (max-width: 500px) {

    .page-container {
        box-sizing: border-box;
        width: 100%;
        min-height: 100vh;
        margin: 0px !important;
        padding: 0px !important;
    }

    .report-card {
        flex-direction: column;
        width: 100%;
        box-shadow: none;
    }

    .chart-container, .scorecard-container {
        width: 100%;
    }

    .prompts-container {
        padding: 0px;
    }

    .scorecard-container > .section-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .scorecard-container {
        padding-top: 1rem;
    }
    
}

/* ANIMATION STUFF BELOW */

/* @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:46;
    --b:calc(.125 * var(--w));
    --c:rgb(206, 203, 22);
    --w:250px;
    
    width:var(--w);
    aspect-ratio: 1;
    position:relative;
    display:flex;
    flex-direction: column;
    margin:5px;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }

  .pie::before, .pie::after {
    content:"";
    position:absolute;
    border-radius:50%;
  }

  .pie::before {
    inset:0;
    background:
      conic-gradient(var(--c) calc(var(--p)*1%),rgb(83, 94, 110) 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }

  .pie::after {
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }

  .animate {
    animation:p 1s .5s both;
  }

  @keyframes p {
    from{--p:0}
  } */